/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */
   html,  body, div, span, applet, object, iframe, h3,  h4, h5, h6, h7, h8, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  }
  /* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
  section {
    display: block;
  }
  body {
    line-height: normal;
  }
  ol,ul {
    list-style: none;
  }
  blockquote,q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  nav a:hover,
  nav a:focus,
  nav a.active,
  nav a.selected {
    text-decoration: none;
  }
  /*  FONTS */

  h1, a, h3, p {
    font-family: 'Raleway', Arial, sans-serif;
    letter-spacing: 0.2em;
  }

  nav a, nav h3 {
    text-transform: lowercase;
    font-size: 1.2rem;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  figure a:hover, figure a:focus {
    text-decoration: underline;
  }

  p { margin: 15px; }

/* LAYOUT */
  body {
    position: relative;
  }

  div {
    position: relative;
  }

  .content {
    padding: 30px;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .container-fullscreen {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 40%;
  }

  .flex { display: flex;}
  .center { justify-content: center;}
  .start { justify-content: flex-start;}
  figure { margin: 15px; }
  .flexCenter { align-items: center; }

  /* NAVIGATION */

  nav {
    position: fixed;
    z-index: 1000;
    width: 100vw;
  }

  nav button {
    background-color: transparent;
    border: 1px transparent;
  }

  nav h3 {
    padding: 10px;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 4px;
  }

  nav li {
    display: inline;
    padding: 5px;
    border-right: 1.5px solid transparent;
    border-left: 1.5px solid transparent;
    transition: border 1s ease;
  }

  nav li:hover,
  nav li:focus,
  nav li.active,
  nav li.selected {
    border-right: 1.5px solid #fff;
    border-left: 1.5px solid #fff;
  }

/*HOME*/

  #home {
    background-image: url("../images/mia.jpg");
  }
  #home .main-title {
    position: absolute;
    bottom: 50px;
    right: 8%;
  }
  #home h1 span {
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.27em;
  }

  #spacer {
    background-image: url("../images/bigimage1.jpg");
  }

  #spacer .feather {
    height: 35px;
    width: 35px;
    background-image: url('../images/whiteFeather.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }

  #featherSVG {
    position: absolute;
    bottom: -5%;
    right: -5%;
    width: 10rem;
    height: 10rem;
  }

  svg {
    stroke: rgba(3, 1, 19, 0.9);
    fill: none;
    stroke-width: 5;
  }

/*  ABOUT */
  .profile-image {
    background-image: url("../images/miaAbout2.jpg");
    height: 60vh;
    max-width: calc(40rem + 20vw);
    background-size: cover;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
  }

  #spacer .featherSmall {
    position: absolute;
    height: 50px;
  }
  #spacer .featherSmall img {
    height: 100%;
  }

  /*GALLERY*/
  .gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .gallery-item h3 {
    position: absolute;
    font-size: 1.5rem;
    padding: 25px 15px;
    line-height: 1px;
    letter-spacing: 0.25em;
    transition: all 0.5s ease;
  }

  .gallery-item:hover h3 {
    font-size: 1.4rem;
  }

  .gallery-item ul {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .gallery-item ul li:first-of-type {
    display: block;
    height: 100%;
  }

  .gallery-item ul li {
    display: none;
  }

  .gallery-item ul li:first-of-type a {
    background: rgba(51, 51, 51, 0.5);
    display: block;
    height: 100%;
    transition: background 0.5s ease;
  }

  .gallery-item:hover ul li:first-of-type a {
    background: rgba(51, 51, 51, 0.3);
  }

  #solo { background-image: url("../images/photoshoot/shoot3.jpg");}
  #reel { background-image: url("../images/solo/solo1.jpg");}
  #shoot { background-image: url("../images/photoshoot/shoot1.jpg");}
  #outdoor { background-image: url("../images/outdoor/out1.jpg");}
  #double { background-image: url("../images/doubles/double1.jpg");}

  #reel li a i {
    color: #ffffff;
    font-size: 4.5em;
    position: relative;
    top: 40%;
    left: 40%;
  }

  /* FOOTER */
  footer {
    padding: 2rem;
  }
  footer a {
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 480px) {
    .hide-tiny {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .fRow-lg { flex-direction: row;}
    .fColumn-lg { flex-direction: column;}
    .half-lg { width: 50vw; }
    .full-lg { width: 80vw; max-width: 960px;}
    .hide-lg {display: none;}
    .dark-lg {
      background-color: rgba(3, 1, 19, 0.9);
      color: #fff;
    }
    .light-lg {
      background-color: #fff;
      color: #333;
    }
    .dark-lg a { color: #fff;}
    .dark-lg a:hover { color: #fff;}
    .light-lg a { color: #333;}
    .light-lg a:hover { color: #111;}
    #solo, #shoot { height: 40vh; }
    #outdoor, #double { height: 30vh; }
    #reel { height: 50vh; }

    nav {
      padding: 15px 30px;
    }
  }

  @media screen and (max-width: 768px) {
    .fColumn-sm { flex-direction: column;}
    .fRow-sm { flex-direction: row;}
    .half-sm { width: 50vw; }
    .full-sm { width: 80vw; max-width: 960px;}
    .hide-sm {display: none;}
    .dark-sm {
      background-color: rgba(3, 1, 19, 0.9);
      color: #fff;
    }
    .light-sm {
      background-color: #fff;
      color: #333;
    }
    .dark-lg a { color: #fff;}
    .dark-lg a:hover { color: #fff;}
    .light-lg a { color: #333;}
    .light-lg a:hover { color: #111;}
    .menu-open {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(3, 1, 19, 0.9);
      transition: all 1s ease;
    }

    .menu-open ul {
      flex-direction: column;
      height: 80vh;
      align-items: center;
      justify-content: space-around;
    }

    .menu-open a {
      font-size: 2.5rem;
      padding: 10px;
    }
    #solo, #shoot, #outdoor, #double, #reel { height: 30vh;}
    .container-fullscreen{
      background-attachment: scroll;
    }
  }
