/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

/* TYPOGRAPHY */
body {  font-family: "Libre Baskerville"; }
h1,h2,h3 { font-family: "Cookie"; color: #333; }
nav, .section-text, button { text-align: center; }
nav li a { color: #333; }
nav li:hover { background: #fcd1cb;}

#home-page-intro h3 {
  color: #fff;
  text-shadow: 1px 1px 1px #57597b;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* LAYOUT */

.section {
  padding: 30px;
  position: relative;
  margin: 40px 0;
  box-shadow: 1px 1px 1px #ccc;
}


.section-text { position: relative; width: 35%; }
.section:nth-child(even) .section-text { left: 65%;}
button {
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
}

/* logo */
.logo { width: 25%;  margin: auto;} /* todo: updated logo for smaller screens */

/* banners */

.banner {
  width: 100%;
  height: 400px;
  margin: 30px 0;
 }
#home-page-intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/baby1.jpg");
}

#home-page-intro h3 {
  margin: 15px;
}

/* menu */

.page-wrap { width: 1090px; margin: auto; }
header { width: 100%; border-bottom: 2px solid black; }
nav { width: 100%; maring: 30px auto; }
nav li { display: inline; padding: 10px; margin: 20px;}
a { text-decoration: none; }

/* COLOURS */
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h1, h2, h3 {
  text-shadow: 1px 1px 1px #57597b;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

.section button a { font-size: 1rem; }
h2, h3, p, .section a { color: #fff; }

button { border: 1px solid white; color: white; background: transparent; }

.main-content {
  /*background: red; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(#b0d1cb,  #fcd1cb, #f3767a, #c4d1a0 ); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(#b0d1cb,  #fcd1cb, #f3767a, #c4d1a0 ); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(#b0d1cb,  #fcd1cb, #f3767a, #c4d1a0 ); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(#b0d1cb,  #fcd1cb, #f3767a, #c4d1a0 ); /* Standard syntax */
}

.section:nth-child(1) { background: #b0d1cb; }
.section:nth-child(2) { background: #fcd1cb; }
.section:nth-child(3) { background: #f3767a; }
.section:nth-child(4) { background: #c4d1a0; }
/* LOGO */

.cls-1{fill:#f3767a;}
.cls-2{fill:#fcd1cb;}
.cls-3{fill:#c4d1a0;}
.cls-4{fill:#b0d1cb;}
.cls-5{fill:#f8eeb1;}
.cls-17,.cls-18,.cls-19,.cls-20,.cls-6{fill:none;}
.cls-7{fill:#ce787e;}
.cls-8{fill:#cec2c3;}
.cls-9{fill:#939598;}
.cls-10{fill:#58bab5;}
.cls-11{fill:#e0d6e5;}
.cls-12{fill:#a274b2;}
.cls-13{fill:#fff;}
.cls-14,
.cls-16{font-size:1.9rem;}
.cls-14{fill:#57597b; font-family: "Cookie"
;}
.cls-15{font-size: 2.2rem;}
.cls-17{stroke:#f3767a;}
.cls-17,.cls-18,.cls-19,.cls-20{stroke-miterlimit:10;}
.cls-18{stroke:#fcd1cb;}
.cls-19{stroke:#c4d1a0;}
.cls-20{stroke:#b0d1cb;}

svg ellipse {
  stroke-dasharray: 484;
  stroke-dashoffset: 0;
}

.logo:hover ellipse {
  animation: draw 8s ease infinite alternate;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 0;
  }
  35% {
    stroke-dashoffset: 484;
  }
  40% {
    stroke-dashoffset: 484;
  }
  100% {
    stroke-dashoffset: 0;
  }
}



/* MEDIA QUERIES */
